<div class="tags-section print:hidden p-2">

  <% if workshop.sectors.any? %>
    <div class="my-6 grid grid-cols-[auto_1fr] gap-x-3 items-start">
      <span class="text-xs text-gray-700 mt-1">
        SERVICE POPULATIONS:
      </span>

      <div class="flex flex-wrap gap-2">
        <% workshop.sectors.order(:name).each do |sector| %>
          <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-gray-400 text-white">
            <%= sector.name %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if workshop.categories.any? %>
    <div class="my-6 grid grid-cols-[auto_1fr] gap-x-3 items-start">
      <span class="text-xs text-gray-700 mt-1">
        ADDITIONAL TAGS:
      </span>

      <div class="flex flex-wrap gap-2">
        <% workshop.categories.includes(:category_type).order("metadata.name, categories.name").each do |category| %>
          <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-gray-400 text-white">
            <%= "#{category.category_type&.name}: " if category.category_type %><%= category.name %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
