<!-- Gallery Media -->
<% gallery_images = resource.gallery_images.select { |img| img.file.attached? } %>
<% if gallery_images.any? %>
  <div class="<%= resource.class.table_name %>-gallery text-center mb-4">
    <div class="flex flex-wrap justify-center gap-4 mx-auto max-w-4xl">
      <% gallery_images.each_with_index do |gallery_image, idx| %>
        <%= render "media/display_image", item: gallery_image, idx: idx %>
      <% end %>
    </div>
  </div>
<% end %>
